body {
    background-color: khaki;
    background-image: url(../img/materiald.jpg);
    background-blend-mode: soft-light;
    background-size: 100%;
}


div h1 p {
    margin: 0px;
    padding: 0px;
}

.bgw {
    background-color: brown;
}

.fnt {
    color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.tp {

    height: 3%;
    width: 3%;

}

.pt {

    font-family: 'Franklin Gothic Medium';

}

.margen {
    margin: 100px;
    padding: 100pxs;

}

.lp {


    font-size: 170%;
}


.lol {


    border-style: outset;
    background-color: #f2dfaa;

}

.bgl {


    border-style: outset;
    background-color: #db976a;

}

@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }

}

@media only screen and (min-width: 1200px) {
    p {
        font-size: 110%;
    }
}

#myCarousel img {

    width: auto;

    height: 225px;

    max-height: 225px;

}


img {
    width: 300px;
}

.btn {
    background-color: rgb(94, 14, 14);
}

a {
    color: darkred;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: darkred;
    color: azure;
}